<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Inventario - WineCellar</title>

        <!-- STYLES -->
        <link rel="stylesheet" th:href="@{/resources/fonts/fonts.css}" />
        <link rel="stylesheet" th:href="@{/resources/styles/material.css}" />
        <link rel="stylesheet" th:href="@{/resources/styles/core.css}" />
        <link
            rel="stylesheet"
            th:href="@{/resources/components/transition/transition.css}"
        />
        <link
            rel="stylesheet"
            th:href="@{/resources/components/dropdown/dropdown.css}"
        />
        <link
            rel="stylesheet"
            th:href="@{/resources/inventory/inventory.css}"
        />

        <!-- LIBS -->
        <script th:src="@{/resources/libs/jquery.js}"></script>
        <script th:src="@{/resources/libs/material.js}"></script>
        <script th:src="@{/resources/libs/anime.js}"></script>
        <!-- COMPONENTS -->
        <script
            th:src="@{/resources/components/transition/transition.js}"
        ></script>
        <script th:src="@{/resources/components/dropdown/dropdown.js}"></script>
        <!-- FRAMEWORK -->
        <script defer th:src="@{/resources/scripts/core.js}"></script>
        <script defer th:src="@{/resources/scripts/primitives.js}"></script>
        <script defer th:src="@{/resources/scripts/components.js}"></script>
        <script defer th:src="@{/resources/scripts/ui.js}"></script>
        <script defer th:src="@{/resources/inventory/inventory.js}"></script>
    </head>
    <body>
        <div class="header">
            <div class="nav">
                <div id="nav-action">
                    <div>
                        <span class="icon">menu</span>
                    </div>
                </div>
                <div id="nav-page-title"><h3></h3></div>
            </div>
            <div class="foreground">
                <div class="title">
                    <h1></h1>
                </div>
                <div class="subtitle">
                    <h3></h3>
                </div>
            </div>
        </div>

        <div class="search-bar" id="inventory-search">
            <div class="textbox bottom-sep">
                <input type="text" placeholder="Buscar entre el inventario" />
            </div>
            <div class="clear">
                <span class="icon">close</span>
            </div>
            <div class="filters">
                <span class="icon">filter_list</span>
            </div>
        </div>

        <div id="wine-cards"></div>

        <div class="space"></div>

        <div class="fab" id="fab-new-wine">
            <div>
                <span class="icon">add</span>
            </div>
        </div>

        <div class="nav">
            <div class="nav-item" id="nav-purchases">
                <span class="icon">add_shopping_cart</span>
                <p>Compras</p>
            </div>
            <div class="nav-item" id="nav-running-low">
                <span class="icon">add</span>
                <p>Reponer</p>
            </div>
            <div class="nav-item" id="nav-inventory">
                <span class="icon">view_agenda</span>
                <p>Inventario</p>
            </div>

            <div class="nav-item" id="nav-settings">
                <span class="icon">settings</span>
                <p>Ajustes</p>
            </div>
        </div>

        <div class="overlay" id="inventory-filters-overlay">
            <div class="section title">
                <h1 class="title">Filtros</h1>
            </div>

            <div id="inventory-filters-form"></div>

            <div class="floating bottom">
                <div class="button raised">
                    <div id="overlay-action-remove-filters"><p>Quitar</p></div>
                    <div id="overlay-action-set-filters"><p>Aplicar</p></div>
                </div>
            </div>
        </div>
    </body>
</html>
