<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Compra - WineCellar</title>

        <link rel="icon" type="image/svg" href="icons/add.svg" />

        <!-- STYLES -->
        <link rel="stylesheet" th:href="@{/resources/fonts/fonts.css}" />
        <link rel="stylesheet" th:href="@{/resources/styles/material.css}" />
        <link rel="stylesheet" th:href="@{/resources/styles/core.css}" />
        <link
            rel="stylesheet"
            th:href="@{/resources/components/transition/transition.css}"
        />
        <link
            rel="stylesheet"
            th:href="@{/resources/components/dropdown/dropdown.css}"
        />
        <link rel="stylesheet" th:href="@{/resources/purchase/purchase.css}" />

        <!-- LIBS -->
        <script th:src="@{/resources/libs/jquery.js}"></script>
        <script th:src="@{/resources/libs/material.js}"></script>
        <script th:src="@{/resources/libs/anime.js}"></script>
        <!-- COMPONENTS -->
        <script
            th:src="@{/resources/components/transition/transition.js}"
        ></script>
        <script th:src="@{/resources/components/dropdown/dropdown.js}"></script>
        <!-- FRAMEWORK -->
        <script defer th:src="@{/resources/scripts/core.js}"></script>
        <script defer th:src="@{/resources/scripts/primitives.js}"></script>
        <script defer th:src="@{/resources/scripts/components.js}"></script>
        <script defer th:src="@{/resources/scripts/ui.js}"></script>
        <script defer th:src="@{/resources/purchase/purchase.js}"></script>
    </head>
    <body>
        <div class="header">
            <div class="nav">
                <div id="nav-action">
                    <div>
                        <span class="icon">menu</span>
                    </div>
                </div>
                <div id="nav-page-title"><h3></h3></div>
            </div>
            <div class="foreground">
                <div class="title">
                    <h1></h1>
                </div>
                <div class="subtitle">
                    <h3></h3>
                </div>
            </div>
        </div>

        <div class="table data-grid" id="purchase">
            <div class="cell full-width">
                <h1 class="data" id="count">0</h1>
                <h3 class="name">Unidades a comprar</h3>
            </div>
        </div>

        <div class="section" id="delete-purchase">
            <div class="button">
                <p>Eliminar compra</p>
            </div>
        </div>

        <div class="floating bottom">
            <div class="button raised">
                <div id="action-add-one"><p>Comprar 1 más</p></div>
            </div>
        </div>
    </body>
</html>
