<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ nombre }}</title>

        <!-- STYLES -->
        <link rel="stylesheet" href="../../../fonts/fonts.css" />
        <link rel="stylesheet" href="../../../styles/material.css" />
        <link rel="stylesheet" href="../../../styles/core.css" />
        <link
            rel="stylesheet"
            href="../../../components/transition/transition.css"
        />
        <link
            rel="stylesheet"
            href="../../../components/dropdown/dropdown.css"
        />
        <link rel="stylesheet" href="../../../wine-edit/wine-edit.css" />

        <!-- LIBS -->
        <script src="../../../libs/jquery.js"></script>
        <script src="../../../libs/material.js"></script>
        <script src="../../../libs/anime.js"></script>
        <!-- COMPONENTS -->
        <script src="../../../components/transition/transition.js"></script>
        <script src="../../../components/dropdown/dropdown.js"></script>
        <!-- FRAMEWORK -->
        <script defer src="../../../scripts/core.js"></script>
        <script defer src="../../../scripts/primitives.js"></script>
        <script defer src="../../../scripts/components.js"></script>
        <script defer src="../../../scripts/ui.js"></script>
        <script defer src="../../../wine-edit/wine-edit.js"></script>
    </head>
    <body>
        <div class="header">
            <div class="nav">
                <div id="nav-action">
                    <div>
                        <span class="icon">menu</span>
                    </div>
                </div>
                <div id="nav-page-title"><h3></h3></div>
            </div>
            <div class="foreground">
                <div class="title">
                    <h1></h1>
                </div>
                <div class="subtitle">
                    <h3></h3>
                </div>
            </div>
        </div>

        <div class="form" id="wine-edit"></div>

        <div class="floating bottom">
            <div class="button raised">
                <div id="action-close"><p>Cerrar</p></div>
                <div id="action-save"><p>Guardar</p></div>
            </div>
        </div>
    </body>
</html>
